.header{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.navbar{
    display: flex;
    list-style: none;
    justify-content:space-evenly;
    align-items: center;
}
.nav-links{
    padding: 1.4em;
}
.hot-link{
    background-color: red;
    color: white;
    border-radius: 8px;
    padding: 2px 7px 2px 7px;
    position: absolute;
    bottom: 40px;

}